
/* Beispielhafte Styles inkl. Keyboard Fix */
input, select {
  scroll-margin-top: 80px;
  scroll-margin-bottom: 320px;
}

body.kbd-open .container {
  padding-bottom: calc(env(safe-area-inset-bottom) + 320px);
}
